<?xml version="1.0"?>
<configuration>
  <!-- Register a section handler for the log4net section -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <appender name="application" type="log4net.Appender.RollingFileAppender">
      <file value="D:\\BOBLOG\\SoftKeyBoard-"/>
      <param name ="DatePattern" value ="yyyyMMdd&quot;.log&quot;"/>
      <param name ="RollingStyle" vaalue="Date"/>
      <maxSizeRollBackups value="100"/>
      <maximumFileSize value="30MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <!-- <conversionPattern value="%d [%t] %-5p %c - %m%n" /> -->

        <!-- Pattern to output the caller's file name and line number 
        
        <conversionPattern value="%d %5level [%thread] (%file:%line) - %message%newline" />-->

        <conversionPattern value="%d %5level [%thread] (%c:%line) - %message%newline"/>

      </layout>
    </appender>


    <logger name="SoftKeyBoard">
      <level value="ALL"/>
      <maximumFileSize value="512MB"/>
      <param name="Threshold" value="WARN"/>

      <appender-ref ref="application"/>
    </logger>



  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
